[Unit]
Description=Bluefin Image Finalize
After=multi-user.target
ConditionFirstBoot=yes

[Service]
Type=oneshot
ExecStart=/usr/libexec/bluefin-firstboot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
